<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demo</title>
</head>
<body>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<table>
    <tr>
        <th>TABLE_CATALOG</th>
        <th>TABLE_SCHEMA</th>
        <th>TABLE_NAME</th>
        <th>TABLE_TYPE</th>
    </tr>
    <th:block th:each="table : ${tables}">
        <tr>
            <td th:text="${table['TABLE_CATALOG']}"></td>
            <td th:text="${table['TABLE_SCHEMA']}"></td>
            <td th:text="${table['TABLE_NAME']}"></td>
            <td th:text="${table['TABLE_TYPE']}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>